body {

	/*background-color: #000000;	*/

}

#numbas{
	font-size: 500px;
	text-align: center;
	font-weight: bold;
	padding-top: 100px;
}

#f{
	font-style: italic;
}

#l{
	font-weight: bolder;
}

#name {
	font-size: 8.4vw;
	text-align: justify;
	/*background-color: #70AA70;*/
	/*background-image: url("IMG_5100.jpg");*/
	/*padding-top: 40px;*/
	/*padding-bottom: 40px;*/
	/*background-image: 'mountain.jpg';*/
	/*box-shadow: 5px 5px 5px #888888;*/
	padding-left: 0.2%;	
	/*padding-top: 30px;
	padding-bottom: 30px;*/
}

#background{
	/*margin-top: 6.3%;*/
	margin-top: 52.5px;
	margin-bottom: 6%;
	/*padding-top: 30px;
	padding-bottom: 30px;*/
	background-image: url("IMG_5100.jpg");

	position:relative;
  /*background:white;*/
  /*border:1px solid black;*/
  	/*height: 300px;*/
  	height: 55vh;
  	overflow:hidden;
}

#before {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*p {
	padding-top: 30px;
	padding-bottom: 30px;
}*/

#nav ul li {
	display: inline;
}

li{
	font-family: verdana;
	font-weight: bold;
	font-size: 2vw;
	/*color: black;*/

}

#middleLIs{
	/*padding-right: 20%;*/
	padding-left: 15%;
}


#nav {
	/*padding-top: -20px;*/
	background-color: rgba( 224, 226, 239, 0.7);
	/*background-color: #e0e2ef;*/
	/*position: fixed;*/
	position: fixed;
	width: 100%;
	top:0;
	left: 0;
	z-index: 1;

	/*opacity: 0.7;*/
}

a{
	text-decoration: none;
	/*color: #006600;*/
	color: #5C7A99;
}

a:hover{
	text-decoration: underline;
}

a:active{
	background-color: #bdc3c7; 
}

#title {
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
	
}

#resume{
	/*background-color: #70AA70;*/
	background-color: rgba( 112, 170, 112, 0.7);
	/*text-align: center;*/
	font-size: 24px;
	/*font-size: 4vw;*/
	margin: 2%;
	padding: 1%;
}


.navButtons {
	background-color: #70AA70;
	border: none;
	/*top: 0;
	right: 0;*/
	/*padding-top: 2.5px;*/
	/*box-shadow: 5px 5px 5px #888888;*/
}

#buttonWONav{
	top: 0;
	right: 0;
	position: fixed;
	z-index: 1;
	/*box-shadow: 1px 2px 5px #888888;*/
}

#buttonWNav{
	/*position: absolute;
	float: right;*/
	/*top: 0;
	right: 0;*/
}

#navButt{
	position: absolute;
	top: 0;
	right: 0;
}

#contact, #projects {
	/*background-color: #70AA70;*/
	/*background-color: rgba(112, 170, 112, 0.8);*/
	margin: 2%;
	padding-bottom: 4%;
}

#contact {
	background-color: #70AA70;
}

#cHead{
	/*float: center;*/
	font-size: 40px;
	font-weight: bold;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	
	text-align: center;
}


#iname, #email{
	font-size: 2.5vw;
	/*text-align: center;*/
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 47%;
	/*background-color: #bdc3c7;*/
	border: none;
}

#email {
	float: right;
	margin-right: 2.5%;
}

#iname{
	margin-left: 2.5%;
}

#message {
	font-size: 24px;
	width: 94.5%;
	height: 50vh;
	/*background-color: #bdc3c7;*/
	/*margin-right: 2.5%;*/
	margin-left: 2.5%;
	border: none;
}

#cButton {
	/*width: 5vw;
	height: 1vh;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;*/

	width: 15%;
	height: 25px;
	/*background-color: #CCFFFF;*/
	background-color: white;
	border: none;
	/*border-radius: 10%;*/
}

#butt, #pHead{
	text-align: center;
}

#pHead{
	font-weight: bold;
	font-size: 4vw;
	/*text-align: left;*/
	margin-left: 6.5%;
	float: left;
	margin-top: 15%;
	/*float: left;*/
}

 #pBod{
 	position: relative;
	margin-left: 6.5%;
	float: left;
	margin-top: 5%;
	text-align: center;
	font-size: 1.4vw;
	/*float: left;*/
 	/*padding-left: 2%;*/
 	/*float: right;*/
 }

 #links{
 	/*display:  block;*/
 	text-align: center;
 	/*padding-top: 5%;*/
 	/*padding-bottom: 5%;*/
 	padding-bottom: 2.5%;
 	/*color: #5C7A99;*/
 	/*padding-right: auto;*/
 	/*padding-left: auto;*/
 	/*bottom:0;*/
 	/*clear: both;*/ 	
 }

 #link{
 	margin: 3%;
 }

 #pIms{
 	width: 35%;
 	height: auto;
 	/*float: right;*/
 }

 .pIms2{
 	/*margin-right: 7.4%;*/
 	margin-left: 7.4%;
 }
 .pIms3{
 	margin-left: 16.5%;
 	/*margin-right: 5.5%;*/
 }

 #pIms1{
 	float: right;
 	margin-right: 5.5%;
 	width: 35%;
 	height: auto;
 	/*float: right;*/

 }

 #projects{
 	/*display: inline;*/
 	/*height: %;*/
 	background-color: rgba(255, 153, 0, 0.8);
 }

 #top{
 	display: inline;
 	position: relative;
 	/*background-color: orange;*/
 	/*clear:both;*/

 }

 #bottom{
 	clear: both;
 	display: block;
 }


#gHead{
 font-family: Verdana;
 text-align: center;
 font-size: 3.5vw;
}

#gProjects{
	/*display: inline;*/
 	/*position: relative;*/
}

/*#ad{
	position: relative;
	float: right;
 	margin-right: 5.5%;
 	width: 50%;
 	height: auto;
 	clear: both;
}*/

#poster, #may, #ad{
	/*float:right;*/
	width: 100%;
	height: auto;
	position: absolute;
}

#posterDiv{
	float: right;
	width: 50%;
 	height: auto;
 	position: relative;
 	/*clear: both;*/
}

#mayAd{
	position: relative;
	width: 50%;
	height: auto;
}

#mayDiv{
	float: left;
	width: 100%;
 	height: auto;
 	position: absolute;
 	/*clear: both;*/
}

#adDiv{
	float: left;
	width: 100%;
 	/*height: auto;*/
 	/*top: 50%;*/
 	margin-top: 70%;
 	position: absolute;
}

.posterText{
	opacity: 0;
	/*float: right;*/
	position: absolute;
	/*top: 50%;*/
	/*right: 50%;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*right: 0;*/
	/*text-align: center;*/
}

.hovering{
	opacity: .7;
	background-color: black;
	color: white;
	/*float: right;*/
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	/*height: auto;*/
	right: 0;
	text-align: center;
}

.hovering1{
	margin-top: 40%;
	padding-top: 15%;
	padding-bottom: 15%;
	font-size: 6vw;
}

.hovering2{
	margin-top: 5%;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	font-size: 4vw;
	opacity: .85;
}

.hovering3{
	margin-top: 15%;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	font-size: 4vw;
	opacity: .8;
}

.bottom{
	position: absolute;
	bottom: 0;
}

.projectLinks{
	margin-top: 80%;
}

.projectNav{
	background-color: rgba( 112, 170, 112, 0.3);
	padding: 1%;
}

.resumeTitle{
	font-size: 8.4vw;
	text-align: center;
	/*background-image: url("IMG_5100.jpg");*/
	/*padding-top: 25px;
	padding-bottom: 25px;
*/
}

#rlet{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	padding-left: 1%;
	font-weight: 600;
}

.homeLinks{
	margin-top: 5%;
}

.animate-switch {
 	
}


.animate-switch.ng-animate {
  /*-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;*/

  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-100%;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

/*.animate-switch.ng-leave, .animate-switch.ng-enter.ng-enter-active{
	-webkit-animation: fadeOut 1s;
	-moz-animation: fadeOut 1s;
	-o-animation: fadeOut 1s;
	animation: fadeOut 1s;
}

.animate-switch.ng-enter, .animate-switch.ng-leave.ng-leave-active{
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	animation: fadeIn 2s;
}*/

